$primary : #9356dc;

$secondary : #ff79da;

$terciary : #99e2d0;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.full_width {
    width: 100%;
}

h3 {
    font-size: 12px;
}

.link {
    text-decoration: none;
    color: black;
}

header {
    height: 65px;
    #logo {
        width: 50%;
    }
}

.loc {
    text-align: center;
    height: 45px;
    background-color: lightgrey;
}

.explore {
    text-align: center;
    h2 {
        margin: 0px;
        padding-top: 45px;
    }
    button {
        padding: 20px 40px 20px;
        border-radius: 30px;
        color: white;
        background-image: linear-gradient($secondary, $primary);
        border: 0px;
        margin-bottom: 45px;
    }
}

.functioning {
    background-color: white;
    h2 {
        padding-left: 15px;
    }
    li {
        list-style: none;
    }
    .step_card {
        margin-left: 45px;
        margin-right: 45px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #step_1 {
        background-color: red;
    }
    #step_2 {
        background-color: green;
    }
    #step_3 {
        background-color: blue;
    }
}

.restaurants_cards {
    display: flex;
    .restaurant_card {
        display: flex;
        flex-direction: column;
        flex: 100%;
        .card_background {
            height: 200px;
        }
        #card_background_1 {
            background-image: url('img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
            background-size: cover;
            background-position: center;
        }
        .card_text {
            display: flex;
            justify-content: space-between;
            .card_heart {
                height: 50px;
                width: 50px;
                #heart-fill {
                    display: none;
                }
                #heart-empty {
                    display: block;
                }
                &:hover {
                    #heart-fill {
                        display: block;
                    }
                    #heart-empty {
                        display: none;
                    }
                }
            }
        }
    }
}