$primary : #9356dc;

$secondary : #ff79da;

$terciary : #99e2d0;

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

@keyframes listSlideIn {
    0% { opacity: 0;
    transform: translateY(100px);}
    100% { opacity: 1;}
}

@keyframes checkExpanse {
    0% {width: 0%;}
    100% {width: 19%;}
}

@keyframes checkRollIn {
    0% {opacity: 0; transform: rotate(0deg);}
    100% {opacity: 1; transform: rotate(360deg);}
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.full_width {
    width: 100%;
}

h3 {
    font-size: 12px;
}

.link {
    text-decoration: none;
    color: black;
}

.title {
    padding-left: 20px;
}

header {
    height: 65px;
    #logo {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
    }
}

.menu_background {
    height: 300px;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

#menu_background_1 {
    background-image: url('../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
}
#menu_background_2 {
    background-image: url('../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
}
#menu_background_3 {
    background-image: url('../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
}
#menu_background_4 {
    background-image: url('../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 2;
    position: relative;
    bottom: 60px;
    border-radius: 36px 36px 0px 0px;
    .menu_header {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        margin-left: 5%;
        width: 85%;
        h3 {
            font-family: 'Shrikhand';
            font-size: 24px;
        }
        .card_heart {
            margin-top: 20px;
            #heart-fill {
                display: none;
                position: absolute;
                height: 25px;
                width: 25px;
            }
            #heart-empty {
                display: block;
                position: absolute;
                height: 25px;
                width: 25px;
            }
            &:hover {
                #heart-fill {
                    animation: fadeIn 3s;
                    display: block;
                }
                #heart-empty {
                    animation: fadeOut 1s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    .menu_title {
        margin-left: 5%;
        font-weight: 200;
    }
    .menu_title::after {
        display: block;
        content: "";
        width: 40px;
        margin-top: 5px;
        height: 5px;
        background-color: $terciary
    }
    .menu_list ul {
        list-style: none;
        //margin-left: 5%;
        //margin-right: 5%;
        padding: 0% 3%;
    }
    .menu_list_card {
        //border: solid 1px black;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 65px;
        margin: 5% auto;
        //padding: 5px;
        box-shadow: 1px 1px 20px 1px rgba(108,108,108,0.5);
        .menu_list_concat {
            width: 100%;
            margin-top: 2%;
            h5 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 17px;
            }
            p:first-child {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 14px;
            }
        }
        .menu_list_ico {
            display: block;
            position: relative;
            width: 0%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: $terciary;
            padding-top: 6%;
            i {
                color: white;
                font-size: 22px;
                margin-left: 28%;
                opacity: 0;
            }
        }
    }
    .menu_list_card:hover {
        .menu_list_ico {
            animation: checkExpanse 1s;
            animation-fill-mode: forwards;
            i {
                animation: checkRollIn 1s;
                animation-fill-mode: forwards;
            }
        }
    }
    .menu_list_title {
        margin: 0% 3% 2%;
        font-size: 16px;
        h5 {
            font-weight: 800;
        }
    }
    .menu_list_description {
        display: flex;
        justify-content: space-between;
        margin: 0% 1% 1% 3%;
        .menu_list_price {
            margin: 0% 3%;
        }
        p {
            font-weight: 100;
            margin: 0px;
        }
    }
    .btn {
        padding: 15px 0px 15px 0px;
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 30px;
        color: white;
        background-image: linear-gradient($secondary, $primary);
        border: 0px;
        box-shadow: 1px 1px 5px 0px black;
        b {
            font-size: 14px;
        }
    }
    #menu_entries {
        animation: listSlideIn 3s;
        animation-fill-mode: forwards;
    }
    #menu_meals {
        animation: listSlideIn 5s;
        animation-fill-mode: forwards;
    }
    #menu_desserts {
        animation: listSlideIn 7s;
        animation-fill-mode: forwards;
    }
}

footer {
    background-color: #353535;
    margin-top: 20px;
    padding-bottom: 35px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    img {
        width: 25%;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    a {
        margin-top: 10px;
        margin-left: 20px;
        color: white;
        text-decoration: none;
        i {
            width: 20px;
            margin-right: 5px;
        }
    }
}