@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes listSlideIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes listSlideIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes checkExpanse {
  0% {
    width: 0%;
  }
  100% {
    width: 19%;
  }
}
@keyframes checkExpanse {
  0% {
    width: 0%;
  }
  100% {
    width: 19%;
  }
}
@-webkit-keyframes checkRollIn {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes checkRollIn {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.full_width {
  width: 100%;
}

h3 {
  font-size: 12px;
}

.link {
  text-decoration: none;
  color: black;
}

.title {
  padding-left: 20px;
}

header {
  height: 65px;
  display: flex;
  flex-direction: row;
}
header .container_arrow {
  flex: 10%;
}
header .nav_arrow {
  font-size: 22px;
  margin: 60% 50%;
  color: black;
}
header .container_logo {
  flex: 90%;
  margin: 1% 10% 1% 1%;
}
header #logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.menu_background {
  height: 300px;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

#menu_background_1 {
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

#menu_background_2 {
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

#menu_background_3 {
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

#menu_background_4 {
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 2;
  position: relative;
  bottom: 60px;
  border-radius: 36px 36px 0px 0px;
}
.menu .menu_header {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 5%;
  width: 85%;
}
.menu .menu_header h3 {
  font-family: "Shrikhand";
  font-size: 24px;
}
.menu .menu_header .card_heart {
  margin-top: 20px;
}
.menu .menu_header .card_heart #heart-fill {
  display: none;
  position: absolute;
  height: 25px;
  width: 25px;
}
.menu .menu_header .card_heart #heart-empty {
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
}
.menu .menu_header .card_heart:hover #heart-fill {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
  display: block;
}
.menu .menu_header .card_heart:hover #heart-empty {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.menu .menu_title {
  margin-left: 5%;
  font-weight: 200;
}
.menu .menu_title::after {
  display: block;
  content: "";
  width: 40px;
  margin-top: 5px;
  height: 5px;
  background-color: #99e2d0;
}
.menu .menu_list ul {
  list-style: none;
  padding: 0% 3%;
}
.menu .menu_list_card {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 5% auto;
  box-shadow: 1px 1px 20px 1px rgba(108, 108, 108, 0.5);
}
.menu .menu_list_card .menu_list_concat {
  width: 100%;
  margin-top: 2%;
}
.menu .menu_list_card .menu_list_concat h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 17px;
}
.menu .menu_list_card .menu_list_concat p:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}
.menu .menu_list_card .menu_list_ico {
  display: block;
  width: 0%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99e2d0;
  padding-top: 5%;
}
.menu .menu_list_card .menu_list_ico i {
  color: white;
  font-size: 22px;
  margin-left: 28%;
  opacity: 0;
}
.menu .menu_list_card:hover .menu_list_ico {
  -webkit-animation: checkExpanse 1s;
          animation: checkExpanse 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.menu .menu_list_card:hover .menu_list_ico i {
  -webkit-animation: checkRollIn 1s;
          animation: checkRollIn 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.menu .menu_list_title {
  margin: 0% 3% 2%;
  font-size: 16px;
}
.menu .menu_list_title h5 {
  font-weight: 800;
}
.menu .menu_list_description {
  display: flex;
  justify-content: space-between;
  margin: 0% 1% 1% 3%;
}
.menu .menu_list_description .menu_list_price {
  margin: 0% 3%;
  font-weight: 600;
}
.menu .menu_list_description p {
  font-weight: 100;
  margin: 0px;
}
.menu .btn {
  padding: 15px 0px 15px 0px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(#ff79da, #9356dc);
  border: 0px;
  box-shadow: 1px 1px 5px 0px black;
}
.menu .btn:active {
  opacity: 0.75;
  box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
}
.menu .btn:hover {
  opacity: 0.75;
  box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
}
.menu .btn b {
  font-size: 14px;
}
.menu #menu_entries {
  -webkit-animation: listSlideIn 3s;
          animation: listSlideIn 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.menu #menu_meals {
  -webkit-animation: listSlideIn 5s;
          animation: listSlideIn 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.menu #menu_desserts {
  -webkit-animation: listSlideIn 7s;
          animation: listSlideIn 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

footer {
  background-color: #353535;
  margin-top: 20px;
  padding-bottom: 35px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
footer img {
  width: 25%;
  margin-bottom: 10px;
  margin-left: 20px;
}
footer a {
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
footer a i {
  width: 20px;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
  header .container_logo {
    margin: 0% 10% 1% 1%;
  }
  header .container_arrow {
    margin: inherit;
  }
  header .container_arrow .nav_arrow {
    margin: 17% 50%;
  }
  header #logo {
    width: 15%;
  }
  header .nav_arrow {
    margin: 24% 50%;
    font-size: 30px;
  }
  .menu_list {
    display: flex;
    flex-direction: row;
  }
  .menu_list .menu_title {
    font-size: 28px;
    flex: 25%;
    margin-top: 13%;
  }
  .menu_list .menu_title::after {
    width: 70px;
  }
  .menu_list ul {
    flex: 90%;
    width: 50%;
  }
  .menu_list ul .menu_list_card {
    width: 65%;
  }
  .menu_list ul .menu_list_card .menu_list_ico {
    padding-top: 3%;
  }
  .menu_list ul .menu_list_card .menu_list_ico i {
    margin-left: 30%;
  }
  .menu_list ul .menu_list_card .menu_list_ico i::before {
    font-size: 30px;
  }
  .menu .btn {
    margin-left: 40%;
    margin-right: 40%;
  }
  .menu .btn:active {
    opacity: 0.75;
    box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
  }
  .menu .btn:hover {
    opacity: 0.75;
    box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
  }
  footer img {
    margin-left: auto;
    margin-right: auto;
  }
  footer a {
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=menu.css.map */